@import "src/constants";

.logo {
  position: relative;
  height: 50px;

  &__stack {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__span {
    font-weight: 500;
  }
}
