@import "src/constants";

.logo {
  position: relative;
  height: 50px;

  &__stack {
    position: absolute;
    top: -2px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__span {
    color: $dark-turquoise-color;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
