@import "src/constants";

.main {
  font-size: 4.5vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;

  & > * {
    max-width: 80vw;
  }

  &__text {
    text-align: center;

    &--big {
      font-size: 1em;
      font-weight: 400;
      color: $white-color;
      margin-top: 0;
      margin-bottom: 35px;
    }

    &--medium {
      font-size: 0.75em;
      font-weight: 300;
      color: $white-color;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  &__button {
    font-size: 1rem !important;
  }
}

.image {
  display: flex !important;
  justify-content: center;
  align-items: center;

  &__card {
    width: 750px;
    max-width: 90vw;
  }
}

.cards {
  &__image-card {
    width: 750px;
    max-width: 90vw;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
      margin-bottom: 20px !important;
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    & > * {
      padding-left: 0 !important;

      & > *:first-child {
        min-width: 30px;
        color: $yellow-color;
      }
    }
  }

  &__title {
    font-size: 1.2em !important;
    font-weight: 500;
    color: $turquoise-color;
    margin-left: 30px !important;
    margin-right: 30px !important;
  }

  &__text {
    font-weight: 400;
    text-justify: auto;
    color: $black-color;
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
}
