@import "src/constants";

.bullets {
  display: flex;
  width: 100%;

  &__container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  &__text {
    width: 100%;
    max-width: 350px;
  }

  &__title {
    font-size: 30px !important;
    font-weight: 600 !important;

    &--blue {
      color: $blue-color;
    }

    &--yellow {
      color: $yellow-color;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &__dot {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: $turquoise-blue-gradient;
    }

    &__text {
      font-size: 16px !important;
      color: $black-color;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__bg {
      z-index: -10;
      position: absolute;
      top: 0;
      left: 0;
      width: 220%;
      height: 160%;
      margin-left: -60%;
      margin-top: -60%;
      background-image: url("/images/phone-bg.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}
