@import 'src/constants';

.container {

  &__parent {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__container {
    width: 100%;
    display: flex;
    padding-left: $default-space * 3 + px;
    padding-right: $default-space * 3 + px;

    &--sm {
      max-width: 400px;
    }

    &--md {
      max-width: 800px;
    }

    &--lg {
      max-width: 1200px;
    }

  }

  &__content {
    flex-grow: 1;
  }

}
