@import "src/constants";

.feedback {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 20px;
  background: $turquoise-blue-gradient;
  padding: 20px 30px 30px;

  & > * {
    flex-grow: 1;
  }


  &__image {
    position: absolute;
    top: -75px;
    right: -20px;
    width: 150px;
    height: 150px;
  }

  &__title {
    font-size: 24px !important;
    font-weight: 500 !important;
    color: $white-color;
  }

  &__subtitle {
    width: 80%;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: $white-color;
  }

  &__buttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__input {

    & input, & textarea {
      color: $white-color;
    }

    & label {
      color: $white-color;

      &.Mui-focused {
        color: $yellow-color;
      }
    }

    & .MuiOutlinedInput-root {
      & fieldset {
        border-color: $gray-color;
      }

      &:hover fieldset {
        border-color: $white-color;
      }

      &.Mui-focused fieldset {
        border-color: $yellow-color;
      }
    }

  }
}
