$white-color: #ffffff;
$black-color: #333333;
$gray-color: #999999;
$grayish-color: #e1e1e1;

$yellow-color: #ffba16;
$turquoise-color: #21b0a7;

$info-color: #21b0a7;
$success-color: #66bb6a;
$warning-color: #ffba16;
$error-color: #ff5722;

$yellow-gradient: linear-gradient(175deg, rgba(255, 186, 22, 1) 30%, rgba(255, 216, 46, 1) 90%);
$turquoise-gradient: linear-gradient(175deg, rgb(29, 155, 138) 30%, rgb(73, 206, 198) 90%);

