@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "src/constants";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  color: $black-color;
  background-color: $white-color;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.43;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $turquoise-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.underline-on-hover {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.turquoise-blue-button {
  background: $turquoise-blue-gradient;
}
