@import "src/constants";

.banner {
  display: flex;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  background: $turquoise-blue-gradient;
  margin-top: 180px;

  &__text {
    display: flex;
    align-items: center;
    padding: 30px;

    &__title {
      font-size: 35px !important;
      font-weight: 500 !important;
      text-align: center;

      &--white {
        color: $white-color;
      }

      &--yellow {
        color: $yellow-color;
      }
    }

    &__subtitle {
      font-size: 15px !important;
      font-weight: 500 !important;
      color: $white-color;
      text-align: center;
    }

    &__button {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
  }


  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      position: absolute;
      top: -75px;
      right: 50px;
      width: 450px;
      height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
